/*
Run this script on:

        Profiles 3.1.0   -  This database will be modified

to synchronize it with:

        Profiles 4.0.0

You are recommended to back up your database before running this script

Details of which objects have changed can be found in the release notes.
If you have made changes to existing tables or stored procedures in profiles, you may need to merge changes individually. 

This upgrade consists of 9 Scripts. They must be run in the following order:

ProfilesRNS_Upgrade_Schema_CREATE_SCHEMA.sql
ProfilesRNS_Upgrade_Schema_ALTER_Tables.sql
ProfilesRNS_Upgrade_Schema_CREATE_Tables.sql
ProfilesRNS_Upgrade_Schema_ALTER_Functions.sql
ProfilesRNS_Upgrade_Schema_CREATE_Functions.sql
ProfilesRNS_Upgrade_Schema_ALTER_Procedures.sql
ProfilesRNS_Upgrade_Schema_CREATE_Procedures.sql
ProfilesRNS_Upgrade_Data.sql
ProfilesRNS_Upgrade_Account.sql

This script is number 2 of 9
*/


ALTER TABLE [Profile.Cache].Person ADD NodeID BIGINT
ALTER TABLE [Profile.Cache].Person ADD PreferredPath VARCHAR(MAX)
ALTER TABLE [Profile.Cache].Person ADD defaultApplication VARCHAR(MAX)

ALTER TABLE [Profile.Data].[Publication.Group.MyPub.General] ADD DOI VARCHAR(100)

ALTER TABLE [Profile.Data].[Publication.MyPub.General] ADD DOI VARCHAR(100)

ALTER TABLE [Profile.Module].[GenericRDF.Plugins] ADD _PropertyNode BIGINT
ALTER TABLE [Profile.Module].[GenericRDF.Plugins] ADD dataType BIT


ALTER TABLE [RDF.].Alias ADD [DefaultApplication] VARCHAR (50) DEFAULT ('display') NOT NULL

ALTER TABLE [Profile.Data].[Publication.Pubmed.Bibliometrics] ADD [RelativeCitationRatio] FLOAT (53)

ALTER TABLE [Profile.Data].[Publication.PubMed.Author] ADD [EqualContrib] VARCHAR (1) NULL
ALTER TABLE [Profile.Data].[Publication.PubMed.Author] ADD [FirstAuthor] BIT NULL
ALTER TABLE [Profile.Data].[Publication.PubMed.Author] ADD [LastAuthor] BIT NULL


ALTER TABLE [Profile.Data].[Publication.Pubmed.DisambiguationSettings] ADD [PubMedSearchTerm] VARCHAR (MAX) NULL
ALTER TABLE [Profile.Data].[Publication.Pubmed.DisambiguationSettings] ADD [PubMedSearchTermEnabled] BIT NULL
ALTER TABLE [Profile.Data].[Publication.Pubmed.DisambiguationSettings] ADD [ORCID] VARCHAR (MAX) NULL
ALTER TABLE [Profile.Data].[Publication.Pubmed.DisambiguationSettings] ADD [SyncFromORCID] BIT NULL


GO
PRINT N'Update complete.';


GO
