
.showFocusAndHover {
    cursor: pointer;
}
.showFocusAndHover:hover:not(.link-ish) { /* since link-ish hover shows underline */
    box-shadow: 0 4px 2px -2px gray !important;
}
.showFocusAndHover:focus-visible {
    outline: 2px solid -webkit-focus-ring-color;
}
.link-ish {
    cursor: pointer;
    text-decoration: none !important;
    color: #36c !important;
    border: 0px !important;
    padding-inline: 0 !important;
}
.link-ish:hover {
    text-decoration: underline !important;
}
.link-ish:focus {
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px !important;
}
.hover_bold:hover {
    font-weight: 700;
}
[hidden] { display: none !important; }
.link-disabled {
    /*color: #999999;          !* Fades out the text color *! */
    text-decoration: none;   /* Removes the underline */
    cursor: default;         /* Prevents the pointer/hand cursor */
    pointer-events: none;    /* Stops the link from being clickable */
    opacity: 70%;
}