.selected {
    background-color: #3279b5;
    color: white;
}
.tab-pane-box {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
.bigTitle {
    font-size: 18px;
    color: #AC1B30;
    text-align: left;
    font-size: 28px;
}
/* from: https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-horizontal-rule */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.dropdown-no-bullet {
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 5px;
}
.gradient {
    background-image: linear-gradient(rgb(255, 255, 255) 0%,rgb(224, 224, 224) 100%) !important;
}
ul {
    margin-bottom: 0px !important;
}
.allExceptCheck {
    height: 20px;
}
#innerRhsDiv {
    border: 1px solid #ccc;
}
.t30s {
    margin-top: 33px;
}
.fs12 {
    font-size: 12px;
}
.unbold {
    font-weight: normal;
}
.categoryDivider {
    color: #666;
    font-weight: bold;
}
.statsClass {
    font-size: 12px;
}
.greyFilter {
    color: #888888;
}
.recentUpdateDate {
    font-size: 11px;
    color: #4f6381;
}
.recentUpdateBlurb {
    color: #333333;
}