.helpAboutTitle {
    color: #AC1B30;
    font-size: 28px;
}
.subtitle {
    font-size: 15px;
    font-weight: bold;
    color: #666;
}
.topic {
    color: #933;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.blurbForTopic {
    margin-bottom: 10px;
}
.inactiveExploreButton {
    color: white !important;
    background-color: #090 !important;
}