.helpAboutTitle {
    color: #AC1B30;
    font-size: 28px;
}
.subtitle {
    font-size: 15px;
    font-weight: bold;
    color: #666;
}
.helpTopic {
    color: #933;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.helpBlurb {
    margin-bottom: 10px;
}