.headerBanner {
    content: url("/StaticFiles/img/branding/_OpenSourceBanner.png");
    background-color: black;
    border-bottom: #b23f45 8px solid;
    padding: 25px 50px;
}
#brandingBanner {
    height: 99px !important;
}
#brandingFooter {
    background-color: black;
    color: white;
    padding: 25px 50px;
}
