.headerBanner {
    background-color: black;
    border-bottom: #b23f45 8px solid;
    padding: 25px 50px;
    max-height: 99px !important;
}
.footerBanner {
    background-color: black;
    color: white;
    border-bottom: none;
    padding: 50px 75px 20px;
}