.modulesRow.row {
    margin-top: -20px !important;
}

.directSearchButton {
    padding-bottom: 2px;
}
#keywordSearch {
    max-width: 450px;
}
.bendCcc {
    border-right: 1px solid #CCC;
}
.boldCcc {
    border: 1px solid #333333;
}