.throw {
	background-color: #f7f3ef !important;
	color: #333 !important;
	cursor: default !important;
	font-weight: bold !important;
	padding: 5px !important;
	text-align: center !important;	
	border-bottom: 1px solid #999999 !important;
	border-top: 1px solid #999999 !important;
	display: table-cell !important;
}

.tdrow {
	padding: 5px !important;
	border-bottom: 1px solid #999999 !important;
	display: table-cell !important;
}

.tdborderleft {
	border-left: 1px solid #999999 !important;
}

.thborderright {
	border-right: 1px solid #999999 !important;
}

.act-heading {
	padding-bottom: 8px;
	font-weight: bold;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */	
	left: 25%;
	
}

/* Modal Content */
.modal-content {
	padding: 25px;
	position: absolute;
	top: 50%;
}