SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[GetActivity]
	@activityLogIDs varchar(max)
AS
BEGIN
	declare @logIDsTable table (activityLogID int)
	insert into @logIDsTable select * from string_split(@activityLogIDs, ',')

	declare @relativeBasePath varchar(max)
	select @relativeBasePath = Value from [Framework.].Parameter where ParameterID = 'relativeBasePath'

	declare @json nvarchar(max)

	select @json = 
		(SELECT i.activityLogID,
			p.personid,n.nodeid,p.firstname,p.lastname, @relativeBasePath + isnull(defaultApplication, '') + PreferredPath as URL,
			md.label, i.methodName,i.property,cp._PropertyLabel as propertyLabel,i.param1,i.param2,i.createdDT, g.JournalTitle, fa.AgreementLabel, gg.GroupName
			FROM [Framework.].[Log.Activity] i 
			join @logIDsTable a on i.activityLogId = a.activityLogID
			join [Display.].[Activity.Log.MethodDetails] md on i.methodName = md.methodName and i.Property = isnull(md.property, i.property)
			LEFT OUTER JOIN [Profile.Cache].[Person] p ON i.personId = p.personID
			LEFT OUTER JOIN [RDF.Stage].internalnodemap n on n.internalid = p.personId and n.[class] = 'http://xmlns.com/foaf/0.1/Person' 
			LEFT OUTER JOIN [Ontology.].[ClassProperty] cp ON cp.Property = i.property  and cp.Class = 'http://xmlns.com/foaf/0.1/Person' 
			LEFT OUTER JOIN [RDF.].[Node] rn on [RDF.].fnValueHash(null, null, i.property) = rn.ValueHash 
			LEFT OUTER JOIN [RDF.Security].[NodeProperty] np on n.NodeID = np.NodeID and rn.NodeID = np.Property
			LEFT OUTER JOIN [Profile.Data].[Publication.PubMed.General] g on i.param1 in ('PMID', 'Add PMID') and param2 = cast(g.PMID as varchar(50))
			LEFT OUTER JOIN [Profile.Data].[Funding.Role] fr on i.property = 'http://vivoweb.org/ontology/core#ResearcherRole' and i.param1 = FundingRoleID LEFT OUTER JOIN [Profile.Data].[Funding.Agreement] fa on fr.FundingAgreementID = fa.FundingAgreementID
			LEFT OUTER JOIN [Profile.Data].[vwGroup.General] gg on i.param1 = cast(gg.GroupID as varchar(50))
			where p.IsActive=1 and (np.ViewSecurityGroup = -1 or (i.privacyCode = -1 and np.ViewSecurityGroup is null) or (i.privacyCode is null and np.ViewSecurityGroup is null))
			--(lastActivityLogID != -1 ? (" and i.activityLogID " + (older ? "< " : "> ") + lastActivityLogID) : "") +
			 for json path)

	if @json is null set @json = '[]'

	select @json
END


GO
