SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.Module].[AwardReceipt.GeneralInfo]
	@Subject bigint,
	@Predicate bigint,
	@tagName varchar(max),
	@object bigint,
	@oValue nvarchar(max),
	@SessionID  UNIQUEIDENTIFIER = NULL,
	@json nvarchar(max) output
AS
BEGIN
	declare @relativeBasePath varchar(max)
	select @relativeBasePath = Value from [Framework.].Parameter where ParameterID = 'relativeBasePath'

	declare @label nvarchar(max), @awardConferredBy nvarchar(max), @startdate varchar(max), @enddate varchar(max), @personNodeID bigint
	select @label = Value from [RDF.].Triple t join [RDF.].Node o on t.Object = o.NodeID and subject = @Subject and Predicate = [RDF.].fnURI2NodeID('http://www.w3.org/2000/01/rdf-schema#label')
	select @awardConferredBy = Value from [RDF.].Triple t join [RDF.].Node o on t.Object = o.NodeID and subject = @Subject and Predicate = [RDF.].fnURI2NodeID('http://profiles.catalyst.harvard.edu/ontology/prns#awardConferredBy')
	select @startdate = Value from [RDF.].Triple t join [RDF.].Node o on t.Object = o.NodeID and subject = @Subject and Predicate = [RDF.].fnURI2NodeID('http://profiles.catalyst.harvard.edu/ontology/prns#startDate')
	select @enddate = Value from [RDF.].Triple t join [RDF.].Node o on t.Object = o.NodeID and subject = @Subject and Predicate = [RDF.].fnURI2NodeID('http://profiles.catalyst.harvard.edu/ontology/prns#endDate')
	select @personNodeID = Object from [RDF.].Triple t where subject = @Subject and Predicate = [RDF.].fnURI2NodeID('http://vivoweb.org/ontology/core#awardOrHonorFor')

	select @json = (select @label label, @awardConferredBy awardConferredBy, @startdate startDate, @enddate endDate, DisplayName, @relativeBasePath + isnull(defaultApplication, '') + PreferredPath as URL
						from [Profile.Cache].Person where nodeID = @personNodeID	
						for json path, WITHOUT_ARRAY_WRAPPER) 
	select @json = (select JSON_QUERY(@json, '$') as module_data for json path, WITHOUT_ARRAY_WRAPPER)
END


GO
