SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[GetLatestActivityIDs]
	@count int,
	@offset int = 0,
	@lastActivityLogID int = 0

AS
BEGIN
/*	declare @DisplayProperties table ([methodName] nvarchar(255), Property nvarchar(255))
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.AddPublication', null)
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', null)
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.AddUpdateFunding', null)
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.AddCustomPublication', null)
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.AddGroupMember', null)
	insert into @DisplayProperties (methodName, Property) values ('[Profile.Data].[Funding.LoadDisambiguationResults]', null)
	insert into @DisplayProperties (methodName, Property) values ( '[resnav_people_profileslabs].[dbo].[UpdatePubMedDisambiguation]', null)
	insert into @DisplayProperties (methodName, Property) values ( 'Profiles.Edit.Modules.CustomEditAuthorInAuthorship.DataIO.AddVerifyPublications', null)
	insert into @DisplayProperties (methodName, Property) values ( 'Profiles.Edit.Utilities.DataIO.SaveImage', null)
	insert into @DisplayProperties (methodName, Property) values ( 'Profiles.Edit.Utilities.DataIO.AddAward', null)

	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/plugins#FeaturedPresentations')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/plugins#FeaturedVideos')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/plugins#Twitter')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/prns#hasClinicalTrialRole')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/prns#mainImage')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://profiles.catalyst.harvard.edu/ontology/prns#mediaLinks')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#authorInAuthorship')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#awardOrHonor')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#educationalTraining')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#freetextKeyword')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#hasMemberRole')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#hasResearcherRole')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#orcidId')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#overview')
	insert into @DisplayProperties (methodName, Property) values ('Profiles.Edit.Utilities.DataIO.UpdateSecuritySetting', 'http://vivoweb.org/ontology/core#webpage')
*/
	if @lastActivityLogID = 0
	BEGIN
		select MAX (activityLogID) activityLogID from [Framework.].[Log.Activity] a 
			join [Display.].[Activity.Log.MethodDetails] b on a.methodName = b.methodName and a.Property = isnull(b.property, a.property) 
			join [Profile.Cache].Person c on a.personId = c.PersonID and c.IsActive = 1
			join [RDF.].Node d on  [RDF.].fnValueHash(null, null, a.Property) = d.ValueHash
			left JOIN [RDF.Security].[NodeProperty] e on c.NodeID = e.NodeID and d.NodeID = e.Property
				where isnull(e.ViewSecurityGroup, -1) = -1
				group by a.personID order by max(activityLogID) desc offset @offset ROWS FETCH NEXT @count ROWS ONLY
				--for json path
	END
	ELSE
	BEGIN
		select MAX (activityLogID) activityLogID from [Framework.].[Log.Activity] a 
			join [Display.].[Activity.Log.MethodDetails] b on a.methodName = b.methodName and a.Property = isnull(b.property, a.property) and a.activityLogId < @lastActivityLogID
			join [Profile.Cache].Person c on a.personId = c.PersonID and c.IsActive = 1
			join [RDF.].Node d on  [RDF.].fnValueHash(null, null, a.Property) = d.ValueHash
			left JOIN [RDF.Security].[NodeProperty] e on c.NodeID = e.NodeID and d.NodeID = e.Property
				where isnull(e.ViewSecurityGroup, -1) = -1
				group by a.personID order by max(activityLogID) desc offset @offset ROWS FETCH NEXT @count ROWS ONLY
	END
END


GO
