SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[GetJson]
	@subject bigint,
	@predicate bigint = null,
	@object bigint = null,
	@tab varchar(16) = null,
	@SessionID  UNIQUEIDENTIFIER = NULL
AS
BEGIN

	insert into [Display.].[GetJsonLog] (timestamp, subject, predicate, object, tab, SessionID)
		values (getdate(), @subject, @predicate, @object, @tab, @SessionID)

	DECLARE @ErrorDescription varchar(max)


	if @predicate = 0
	 select	@predicate = null

	 if @object = 0
	 select	@object = null

	-------------------------------------------------------------------------------
	-- Determine the PresentationType (P = profile, N = network, C = connection)
	-------------------------------------------------------------------------------

	declare @PresentationType char(1)
	select @PresentationType = (case when @object is not null AND @predicate is not null AND @subject is not null then 'C'
									when @predicate is not null AND @subject is not null then 'N'
									when @subject is not null then 'P'
									else NULL end)


	-------------------------------------------------------------------------------
	-- Get the PresentationID based on type
	-------------------------------------------------------------------------------
	declare @typeID bigint
	select @typeID = [RDF.].fnURI2NodeID('http://www.w3.org/1999/02/22-rdf-syntax-ns#type')
	declare @PresentationID int
	select @PresentationID = (
			select top 1 PresentationID
				from [Ontology.Presentation].[XML]
				where type = IsNull(@PresentationType,'P')
					AND	(_SubjectNode IS NULL
							OR _SubjectNode IN (select object from [RDF.].Triple where @subject is not null and subject=@subject and predicate=@typeID)
						)
					AND	(_PredicateNode IS NULL
							OR _PredicateNode = @predicate
						)
					AND	(_ObjectNode IS NULL
							OR _ObjectNode IN (select object from [RDF.].Triple where @object is not null and subject=@object and predicate=@typeID)
						)
				order by	(case when _ObjectNode is null then 1 else 0 end),
							(case when _PredicateNode is null then 1 else 0 end),
							(case when _SubjectNode is null then 1 else 0 end),
							PresentationID
		)
	

	-------------------------------------------------------------------------------
	-- Get the Security and Cache length for the page based on type
	-------------------------------------------------------------------------------
	declare @cacheLength varchar(32), @pageSecurityType varchar(32)
	select @cacheLength = cacheLength, @pageSecurityType = pageSecurityType from [Display.].[DataPath] where PresentationID = @PresentationID and dataTab = @tab


	-------------------------------------------------------------------------------
	-- Get the datamodules
	-------------------------------------------------------------------------------
	create table #dataModules(
		i int identity,
		DataStoredProc varchar(max),
		subject bigint,
		predicate bigint,
		tagname varchar(max),
		DisplayModule varchar(max),
		object bigint,
		oValue varchar(max),
		json nvarchar(max)
	)

	declare @pageCacheSecurityGroup int
	set @pageCacheSecurityGroup = 0

	IF @pageSecurityType = 'Session'
	BEGIN
		DECLARE @SecurityGroupID BIGINT, @HasSpecialViewAccess BIT, @HasSpecialEditAccess BIT
		EXEC [RDF.Security].GetSessionSecurityGroup @SessionID, @pageCacheSecurityGroup OUTPUT, @HasSpecialViewAccess OUTPUT, @HasSpecialEditAccess OUTPUT
/*		if (@pageCacheSecurityGroup <=-20)
		BEGIN
			CREATE TABLE #SecurityGroupNodes (SecurityGroupNode BIGINT PRIMARY KEY)
			INSERT INTO #SecurityGroupNodes (SecurityGroupNode) select * from [RDF.Security].fnGetSessionSecurityGroupNodes(@SessionID, @Subject)

			SELECT @pageCacheSecurityGroup = 0
				FROM [RDF.].Node
				WHERE NodeID = @subject
					AND ( (EditSecurityGroup BETWEEN @SecurityGroupID AND -1) OR (EditSecurityGroup > 0 AND @HasSpecialEditAccess = 1) OR (EditSecurityGroup IN (SELECT * FROM #SecurityGroupNodes)) )
		END
*/		-------------------------------------------------------------------------------
		-- Get the RDF to assess which modules should be displayed
		-------------------------------------------------------------------------------
		create table #rdf(
			uri nvarchar(400),
			subject bigint,
			predicate bigint,
			object bigint,
			showSummary bit,
			property nvarchar(400),
			tagName nvarchar(1000),
			propertyLabel nvarchar(400),
			Language nvarchar(255),
			DataType nvarchar(255),
			Value nvarchar(max),
			ObjectType bit,
			SortOrder int
		)

		--TODO CONVERT [RDF.Security].[GetSessionSecurityGroupNodes] to function and add back into GetDataRDF
		insert into #rdf
		exec [Display.].[GetDataRDF] @subject=@subject,@predicate=@predicate,@object=@object,@SessionID=@SessionID,@Expand=0,@limit=1
	
		insert into #dataModules (DataStoredProc, subject, predicate, tagname, DisplayModule, object, oValue)
		select DataStoredProc, isnull(subject, @subject), predicate, tagname, DisplayModule, object, Value from [Display.].ModuleMapping a
			join #rdf b
			on a.PresentationID = @PresentationID
			and a._ClassPropertyID = b.predicate
			and b.SortOrder = 1 --This should be handled at source
			and isnull(a.tab, '') = isnull(@tab, '')
	END
	ELSE IF @pageSecurityType = 'Global'
	BEGIN
		declare @hasPermissions bit = 0
		select @hasPermissions = case when ViewSecurityGroup = -1 then 1 else 0 end  from [RDF.].Node where nodeID = @subject
		if @predicate is not null select @hasPermissions = case when ViewSecurityGroup = -1 then @hasPermissions else 0 end  from [RDF.].Node where nodeID =  @predicate
		if @object is not null select @hasPermissions = case when ViewSecurityGroup = -1 then @hasPermissions else 0 end  from [RDF.].Node where nodeID =  @object

		if (@hasPermissions = 1)
		BEGIN
			set @pageCacheSecurityGroup = -1
			insert into #dataModules (DataStoredProc, subject, predicate, tagname, DisplayModule, object, oValue)
			select DataStoredProc, @subject, @predicate, '', DisplayModule, @object, null from [Display.].ModuleMapping a
				where a.PresentationID = @PresentationID
				and isnull(a.tab, '') = isnull(@tab, '')
		END
	END

	-------------------------------------------------------------------------------
	-- Get the JSON
	-------------------------------------------------------------------------------
	declare @DataStoredProc varchar(max), @subject1 bigint, @predicate1 bigint, @tagname varchar(max), @object1 bigint, @oValue varchar(max), @json nvarchar(max)
	--select * from #dataModules
	--select @subject,@predicate,@object, @tab
	declare @dmi int = 0
	while (1=1)
	BEGIN
		select top 1 @dmi=i, @DataStoredProc=DataStoredProc, @subject1=isnull(subject, @subject), @predicate1=predicate, @tagname=tagname, @object1=object, @oValue=oValue 
			from #dataModules where i > @dmi order by i
		if @@ROWCOUNT=0 BREAK
		set @json = null
		exec @DataStoredProc @subject=@subject1, @predicate=@predicate1, @tagname=@tagname, @object=@object1, @oValue=@oValue, @SessionID=@SessionID, @json=@json output
		update #dataModules set json = @json where i = @dmi
	END

	if not exists (select 1 from #dataModules where json is not null) insert into #dataModules(DisplayModule, json) values ('Error', '{"module_data":[{"Error":"Not Found"}]}')

	delete from #dataModules where json is null

	--select * from #dataModules
	--select *, JSON_QUERY(json, '$.module_data')as module_data from #dataModules
	select (Select DisplayModule, JSON_QUERY(json, '$.module_data')as ModuleData from #dataModules for json path) as jsonData,  @pageSecurityType as pageSecurityType, @cacheLength as cacheLength, @pageCacheSecurityGroup as pageCacheSecurityGroup
END


GO
