SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[Search.Params]
AS
BEGIN

	declare @stats table (label varchar(55), [count] int)
	insert into @stats (label, [count]) SELECT 'Grants', [_NumberOfNodes] FROM [Ontology.].[ClassGroupClass] with (nolock) where ClassGroupURI='http://profiles.catalyst.harvard.edu/ontology/prns#ClassGroupResearch' and ClassURI='http://vivoweb.org/ontology/core#Grant'
	insert into @stats (label, [count]) SELECT 'People', [_NumberOfNodes] FROM [Ontology.].[ClassGroupClass] with (nolock) where ClassGroupURI='http://profiles.catalyst.harvard.edu/ontology/prns#ClassGroupPeople' and ClassURI='http://xmlns.com/foaf/0.1/Person'
	insert into @stats (label, [count]) SELECT 'Publications', [_NumberOfNodes] FROM [Ontology.].[ClassGroupClass] with (nolock) where classuri = 'http://purl.org/ontology/bibo/AcademicArticle' and classgroupuri = 'http://profiles.catalyst.harvard.edu/ontology/prns#ClassGroupResearch'

	declare @filters table (PersonFilter varchar(200), PersonFilterCategory varchar(200), personFilterSort int, nodeID bigint)
	insert into @filters
	SELECT PersonFilter, PersonFilterCategory, PersonFilterSort, m.NodeID
						FROM [Profile.Data].[Person.Filter]
					LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
						ON m.class = 'http://profiles.catalyst.harvard.edu/ontology/prns#PersonFilter'
							AND m.InternalType = 'PersonFilter'
							AND m.InternalID = CAST(PersonFilterID AS VARCHAR(50))
					LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
						ON m.NodeID = n.NodeID
							AND n.ViewSecurityGroup = -1

	select
			(SELECT x.InstitutionName, n.NodeID
				FROM (
						SELECT CAST(MAX(InstitutionID) AS VARCHAR(50)) InstitutionID,
								REPLACE(LTRIM(RTRIM(InstitutionName)), '&', 'and') InstitutionName, 
								MIN(institutionabbreviation) InstitutionAbbreviation
						FROM [Profile.Data].[Organization.Institution] WITH (NOLOCK)
						WHERE InstitutionAbbreviation in (select distinct institutionAbbreviation from [Profile.Cache].[Person])
						GROUP BY LTRIM(RTRIM(InstitutionName))
					) x 
					LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
						ON m.class = 'http://xmlns.com/foaf/0.1/Organization'
							AND m.InternalType = 'Institution'
							AND m.InternalID = CAST(x.InstitutionID AS VARCHAR(50))
					LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
						ON m.NodeID = n.NodeID
							AND n.ViewSecurityGroup = -1
				FOR json path) as Institutions,


			(SELECT replace(x.DepartmentName, '&', 'and') DepartmentName, n.NodeID
			FROM (
					SELECT *
					FROM [Profile.Data].[Organization.Department] WITH (NOLOCK)
					WHERE Visible = 1 AND LTRIM(RTRIM(DepartmentName))<>''
				) x 
				LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
					ON m.class = 'http://xmlns.com/foaf/0.1/Organization'
						AND m.InternalType = 'Department'
						AND m.InternalID = CAST(x.DepartmentID AS VARCHAR(50))
				LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
					ON m.NodeID = n.NodeID
						AND n.ViewSecurityGroup = -1
				for json Path) as Departments,

	/*
			(SELECT x.DivisionName, n.NodeID
			FROM (
					SELECT *
					FROM [Profile.Data].[Organization.Division] WITH (NOLOCK)
					WHERE LTRIM(RTRIM(DivisionName))<>''
				) x 
				LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
					ON m.class = 'http://xmlns.com/foaf/0.1/Organization'
						AND m.InternalType = 'Division'
						AND m.InternalID = CAST(x.DivisionID AS VARCHAR(50))
				LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
					ON m.NodeID = n.NodeID
						AND n.ViewSecurityGroup = -1
					for json path) as Divisions,
	*/
			(SELECT x.FacultyRank,  n.NodeID
			FROM (
					SELECT CAST(MAX(FacultyRankID) AS VARCHAR(50)) FacultyRankID,
							LTRIM(RTRIM(FacultyRank)) FacultyRank					
					FROM [Profile.Data].[Person.FacultyRank] WITH (NOLOCK) where facultyrank <> ''				
					group by FacultyRank ,FacultyRankSort
				) x 
				LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
					ON m.class = 'http://profiles.catalyst.harvard.edu/ontology/prns#FacultyRank'
						AND m.InternalType = 'FacultyRank'
						AND m.InternalID = CAST(x.FacultyRankID AS VARCHAR(50))
				LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
					ON m.NodeID = n.NodeID
						AND n.ViewSecurityGroup = -1
			for json path) as FacultyType,
/*
			(SELECT x.PersonFilterCategory, x.PersonFilter, x.PersonFilterSort, n.NodeID
			FROM (
					SELECT PersonFilterID, PersonFilterCategory, PersonFilter, PersonFilterSort
					FROM [Profile.Data].[Person.Filter]
				) x 
				LEFT OUTER JOIN [RDF.Stage].InternalNodeMap m WITH (NOLOCK)
					ON m.class = 'http://profiles.catalyst.harvard.edu/ontology/prns#PersonFilter'
						AND m.InternalType = 'PersonFilter'
						AND m.InternalID = CAST(x.PersonFilterID AS VARCHAR(50))
				LEFT OUTER JOIN [RDF.].Node n WITH (NOLOCK)
					ON m.NodeID = n.NodeID
						AND n.ViewSecurityGroup = -1
				for json path) as OtherOptions,*/

			(select PersonFilterCategory, row_number() over (order by min(PersonFilterSort)) as CategorySort, (select PersonFilter, PersonFilterSort, NodeID from @filters b where a.PersonFilterCategory = b.PersonFilterCategory for json path) PersonFilters  from [Profile.Data].[Person.Filter] a group by PersonFilterCategory for JSON path) as OtherOptions,
			(SELECT NumberOfQueries, Phrase
				FROM [Search.Cache].[History.TopSearchPhrase]
				WHERE TimePeriod = 'd'
				for json path) as MostViewedDay,
			(SELECT NumberOfQueries, Phrase
				FROM [Search.Cache].[History.TopSearchPhrase]
				WHERE TimePeriod = 'm'
				for json path) as MostViewedMonth,
			(select * from @stats
				for json Path) as ProfilesStats
				for json path , WITHOUT_ARRAY_WRAPPER

END


GO
