SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.Module].[Coauthor.Timeline]
	@Subject bigint,
	@Predicate bigint,
	@tagName varchar(max),
	@object bigint,
	@oValue nvarchar(max),
	@SessionID  UNIQUEIDENTIFIER = NULL,
	@json nvarchar(max) output
AS
BEGIN
	declare @personID int
	select @personID = [RDF.].[fnNodeID2PersonID](@Subject)

 
 	--DECLARE @baseURI NVARCHAR(400)
	--SELECT @baseURI = value FROM [Framework.].Parameter WHERE ParameterID = 'baseURI'

	declare @relativeBasePath varchar(max)
	select @relativeBasePath = Value from [Framework.].Parameter where ParameterID = 'relativeBasePath'

	;with e as (
		select top 20 s.PersonID1, s.PersonID2, s.n PublicationCount, 
			year(s.FirstPubDate) FirstPublicationYear, year(s.LastPubDate) LastPublicationYear, 
			p.DisplayName DisplayName2, ltrim(rtrim(p.FirstName+' '+p.LastName)) FirstLast2, s.w OverallWeight, @relativeBasePath + isnull(defaultApplication, '') + PreferredPath as Person2URL
		from [Profile.Cache].[SNA.Coauthor] s, [Profile.Cache].[Person] p
		where personid1 = @PersonID and personid2 = p.personid
		order by w desc, personid2
	), f as (
		select e.*, g.pubdate
		from [Profile.Data].[Publication.Person.Include] a, 
			[Profile.Data].[Publication.Person.Include] b, 
			[Profile.Data].[Publication.PubMed.General] g,
			e
		where a.personid = e.personid1 and b.personid = e.personid2 and a.pmid = b.pmid and a.pmid = g.pmid
			and g.pubdate > '1/1/1900'
	), g as (
		select min(year(pubdate))-1 a, max(year(pubdate))+1 b,
			cast(cast('1/1/'+cast(min(year(pubdate))-1 as varchar(10)) as datetime) as float) f,
			cast(cast('1/1/'+cast(max(year(pubdate))+1 as varchar(10)) as datetime) as float) g
		from f
	), h as (
		select f.*, (cast(pubdate as float)-f)/(g-f) x, a, b, f, g
		from f, g
	), i as (
		select personid2, min(x) MinX, max(x) MaxX, avg(x) AvgX
		from h
		group by personid2
	), j as (
		select *, cast(a + (b - a) * AvgX  as int) AvgYear, cast(((b - a) * AvgX - cast((b - a) * AvgX  as int)) * 12 + 1 as int) as AvgMonth  from i join g on 1 = 1
	)
	--select @json = (select a MinDisplayYear, b MaxDisplayYear, (select PersonID1, e.PersonID2, PublicationCount, FirstPublicationYear, LastPublicationYear, DisplayName2, FirstLast2, Person2URL, OverallWeight, MinX, MaxX, AvgX, (select x from h where h.PersonID2 = e.PersonID2 for json path) xvals from e e join i i on e.PersonID2 = i.PersonID2 for json path) People from g for json path, ROOT ('module_data'))
	select @json = (select a MinDisplayYear, b MaxDisplayYear, (select PersonID1, e.PersonID2, PublicationCount, FirstPublicationYear, LastPublicationYear, DisplayName2, FirstLast2, Person2URL, OverallWeight, MinX, MaxX, AvgX, AvgYear, AvgMonth, (select x from h where h.PersonID2 = e.PersonID2 for json path) xvals from e e join j i on e.PersonID2 = i.PersonID2 for json path) People from g for json path, WITHOUT_ARRAY_WRAPPER)
	select @json = (select JSON_QUERY(@json, '$') as module_data for json path, WITHOUT_ARRAY_WRAPPER)
END


GO
