SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[GetDataURLs]
	@subject bigint = null,
	@predicate bigint = null,
	@object bigint = null,
	@tab varchar(max) = null,
	@SessionID  UNIQUEIDENTIFIER = NULL
AS
BEGIN
	select @predicate = null where @predicate = 0
	select @object = null where @object = 0

/*
	DECLARE @subject bigint = null, @predicate bigint = null, @object bigint = null, @application varchar(50)
	DECLARE @subjectPreferred bit = 1, @predicatePreferred bit = 1, @objectPreferred bit = 1
	DECLARE @redirect bit = 0
	DECLARE @ErrorDescription varchar(max)
	DECLARE @validURI bit = 1
	
	-- Load param values into a table
	DECLARE @params TABLE (id int, val varchar(1000))
*/
	-------------------------------------------------------------------------------
	-- Determine the PresentationType (P = profile, N = network, C = connection)
	-------------------------------------------------------------------------------

	declare @PresentationType char(1)
	select @PresentationType = (case when @object is not null AND @predicate is not null AND @subject is not null then 'C'
									when @predicate is not null AND @subject is not null then 'N'
									when @subject is not null then 'P'
									else NULL end)


	-------------------------------------------------------------------------------
	-- Get the PresentationID based on type
	-------------------------------------------------------------------------------
	declare @typeID bigint
	select @typeID = [RDF.].fnURI2NodeID('http://www.w3.org/1999/02/22-rdf-syntax-ns#type')
	declare @PresentationID int
	select @PresentationID = (
			select top 1 PresentationID
				from [Ontology.Presentation].[XML]
				where type = IsNull(@PresentationType,'P')
					AND	(_SubjectNode IS NULL
							OR _SubjectNode IN (select object from [RDF.].Triple where @subject is not null and subject=@subject and predicate=@typeID)
						)
					AND	(_PredicateNode IS NULL
							OR _PredicateNode = @predicate
						)
					AND	(_ObjectNode IS NULL
							OR _ObjectNode IN (select object from [RDF.].Triple where @object is not null and subject=@object and predicate=@typeID)
						)
				order by	(case when _ObjectNode is null then 1 else 0 end),
							(case when _PredicateNode is null then 1 else 0 end),
							(case when _SubjectNode is null then 1 else 0 end),
							PresentationID
		)

	DECLARE @SecurityGroupID BIGINT, @HasSpecialViewAccess BIT, @HasSpecialEditAccess BIT

	declare @canEdit int = 0
	if @SessionID is not null
	BEGIN
		
		EXEC [RDF.Security].GetSessionSecurityGroup @SessionID, @SecurityGroupID OUTPUT, @HasSpecialViewAccess OUTPUT, @HasSpecialEditAccess OUTPUT
		CREATE TABLE #SecurityGroupNodes (SecurityGroupNode BIGINT PRIMARY KEY)
		INSERT INTO #SecurityGroupNodes (SecurityGroupNode) EXEC [RDF.Security].GetSessionSecurityGroupNodes @SessionID, @subject
		SELECT @CanEdit = 0
		SELECT @CanEdit = 1
			FROM [RDF.].Node
			WHERE NodeID = @subject
				AND ( (EditSecurityGroup BETWEEN @SecurityGroupID AND -1) OR (EditSecurityGroup > 0 AND @HasSpecialEditAccess = 1) OR (EditSecurityGroup IN (SELECT * FROM #SecurityGroupNodes)) )
	END

	create table #dataModules(
		i int identity,
		DataStoredProc varchar(max),
		subject bigint,
		predicate bigint,
		tagname varchar(max),
		DisplayModule varchar(max),
		object bigint,
		oValue varchar(max),
		GroupLabel varchar(100),
		PropertyLabel varchar(100),
		ToolTip varchar(max),
		Panel varchar(10),
		SortOrder int,
		LayoutDataModule bit,
		json nvarchar(max)
	)

	IF @PresentationID in (5, 17) -- People and Groups.
	BEGIN
		-------------------------------------------------------------------------------
		-- Get the RDF to assess which modules should be displayed
		-------------------------------------------------------------------------------
		create table #rdf(
			uri nvarchar(400),
			subject bigint,
			predicate bigint,
			object bigint,
			showSummary bit,
			property nvarchar(400),
			tagName nvarchar(1000),
			propertyLabel nvarchar(400),
			Language nvarchar(255),
			DataType nvarchar(255),
			Value nvarchar(max),
			ObjectType bit,
			SortOrder int
		)

		--TODO CONVERT [RDF.Security].[GetSessionSecurityGroupNodes] to function and add back into GetDataRDF
		insert into #rdf
		exec [Display.].[GetDataRDF] @subject=@subject,@predicate=@predicate,@object=@object,@SessionID=@SessionID,@Expand=0,@limit=1
	
		insert into #dataModules (DataStoredProc, subject, predicate, tagname, DisplayModule, object, oValue, GroupLabel, PropertyLabel, ToolTip, Panel, SortOrder, LayoutDataModule)
		select DataStoredProc, @subject, @predicate, '', DisplayModule, @object, null, GroupLabel, a.PropertyLabel, ToolTip, Panel, a.SortOrder, LayoutDataModule from [Display.].ModuleMapping a
			join #rdf b
			on a.PresentationID = @PresentationID
			and a._ClassPropertyID = b.predicate
			and b.SortOrder = 1 --This should be handled at source
			and LayoutModule = 1
	END
	ELSE
	BEGIN
		insert into #dataModules (DataStoredProc, subject, predicate, tagname, DisplayModule, object, oValue, GroupLabel, PropertyLabel, ToolTip, Panel, SortOrder, LayoutDataModule)
		 select d.DataStoredProc, @subject, case when a.predicate = 1 then @predicate else null end, '', DisplayModule, case when a.object = 1 then @object else null end, null, GroupLabel, d.PropertyLabel, d.ToolTip, d.Panel, d.SortOrder, d.LayoutDataModule from [Display.].[DataPath] a 
			join [Ontology.Presentation].XML b on a.PresentationID = b.PresentationID
			join [Ontology.Presentation].XML c on 
				(a.object = 1 and b.PresentationID = c.PresentationID)
				OR (a.object = 0 and a.predicate = 1 and c.Type = 'N' and isnull(b._SubjectNode, 0) = isnull(c._subjectNode, 0) and isnull(b._PredicateNode, 0) = isnull(c._PredicateNode, 0))
				OR (a.object = 0 and a.predicate = 0 and c.Type = 'P' and isnull(b._SubjectNode, 0) = isnull(c._subjectNode, 0))
			join [Display.].ModuleMapping d on c.PresentationID = d.PresentationID and a.dataTab = d.Tab and d.LayoutModule = 1
			where a.PresentationID = @PresentationID and a.tab = @tab 


	END

	declare @DataStoredProc varchar(max), @subject1 bigint, @predicate1 bigint, @tagname varchar(max), @object1 bigint, @oValue varchar(max), @json nvarchar(max)
	--select * from #dataModules
	--select @subject,@predicate,@object, @tab
	declare @dmi int = 0
	while (1=1)
	BEGIN
		select top 1 @dmi=i, @DataStoredProc=DataStoredProc, @subject1=isnull(subject, @subject), @predicate1=predicate, @tagname=tagname, @object1=object, @oValue=oValue 
			from #dataModules where i > @dmi and LayoutDataModule = 1 order by i
		if @@ROWCOUNT=0 BREAK
		set @json = null
		exec @DataStoredProc @subject=@subject1, @predicate=@predicate1, @tagname=@tagname, @object=@object1, @oValue=@oValue, @SessionID=@SessionID, @json=@json output
		update #dataModules set json = @json where i = @dmi
	END


	-------------------------------------------------------------------------------
	-- Return the URLs for data
	-------------------------------------------------------------------------------
	declare @dataURLs varchar(max)

	if exists (select 1 from [Display.].[DataPath] where PresentationID = @PresentationID and tab = isnull(@tab, ''))
	BEGIN
		select @dataURLs = (select Case when subject = 1 then isnull('s=' + cast(@subject as varchar(50)), '') else '' end
				+ Case when predicate = 1 then isnull('&p=' + cast(@predicate as varchar(50)), '') else '' end
				+ case when object = 1 then isnull('&o=' + cast(@object as varchar(50)), '') else '' end
				+ isnull('&t=' + dataTab, '')
				+ case when @canEdit=1 then '&r=' + cast(round(rand() * 1000, 0,0) as varchar(5)) else '' end
				dataURL
			from [Display.].[DataPath] where PresentationID = @PresentationID and tab = isnull(@tab, '')
			for json path)
	END
	ELSE
	BEGIN
		select @dataURLs = (select isnull('s=' + cast(@subject as varchar(50)), '') + isnull('&p=' + cast(@predicate as varchar(50)), '') + isnull('&o=' + cast(@object as varchar(50)), '') + isnull('&t=' + @tab, '')  dataURL for json path)
	END

	declare @botIndex int
	select @botIndex = botindex from [Display.].DataPath where PresentationID = @PresentationID and Sort = 1

	select 1 as ValidURL, cast(@PresentationID as varchar(50)) as PresentationType, @tab as tab, 0 as Redirect, '' as RedirectURL, @dataURLs as dataURLs, @canEdit as canEdit, @botIndex botIndex, (Select DisplayModule, GroupLabel, PropertyLabel, ToolTip, Panel, SortOrder, JSON_QUERY(json, '$.module_data')as ModuleData from #dataModules for json path) as layoutData

END


GO
