SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.].[SearchEverything]
	@json nvarchar(max)
AS
BEGIN
/*
	exec [Display.].[SearchEverything]
	@json='{
		"Keyword": "keyword text here",
		"KeywordExact": false,
		"FilterType": 1229480, --NodeID for filtertype
		"Offset": 0,
		"Count": 15
	}'
*/

	--<SearchOptions><MatchOptions><SearchString ExactMatch="false">beer</SearchString></MatchOptions><OutputOptions><Offset>100</Offset><Limit>0</Limit></OutputOptions></SearchOptions>
			declare @j table([key] varchar(max), [value] varchar(max), [type] int)
		insert into @j
		select * from openjson(@json)


		declare @keyword nvarchar(max), @keywordExact varchar(max), @Offset int, @count int, @sort varchar(max), @currentFilterKey varchar(max)

		select @keyword = [value] from @j where [key] = 'keyword'
		select @keywordExact = [value] from @j where [key] = 'keywordExact'
		select @Offset = [value] from @j where [key] = 'Offset'
		select @count = [value] from @j where [key] = 'count'
		select @sort = [value] from @j where [key] = 'sort'
		select @currentFilterKey = [value] from @j where [key] = 'currentFilterKey'

		--declare @filterOptions varchar(max)
		--select @filterOptions = '<ClassURI>' + Class + '</ClassURI>' from [Display.].[SearchEverything.Filters] where pluralLabel = @currentFilterKey

		declare @SearchOpts varchar(max)
		set @SearchOpts =
			'<SearchOptions><MatchOptions><SearchString ExactMatch="' + @keywordExact + '">' + @keyword + '</SearchString></MatchOptions><OutputOptions><Offset>100</Offset><Limit>0</Limit></OutputOptions></SearchOptions>'
			--'<SearchOptions><MatchOptions><SearchString ExactMatch="' + @keywordExact + '">' + @keyword + '</SearchString>' + isnull(@filterOptions, '') + '</MatchOptions><OutputOptions><Offset>100</Offset><Limit>0</Limit></OutputOptions></SearchOptions>'

		create table #t (SortOrder int, NodeID bigint primary key, Weight float, type bigint, Label nvarchar(max), ClassLabel varchar(255), URL varchar(max))
		declare @jsonSearchResults varchar(max)
		select @jsonSearchResults = 'a'
		 EXEC [Search.].[GetNodes] @SearchOptions =@SearchOpts, @JSON=@jsonSearchResults output

		 insert into #t (SortOrder, NodeID, Weight)
		SELECT
			  b.SortOrder,
			  b.NodeID,
			  b.Weight
			FROM OPENJSON(@jsonSearchResults) a
			CROSS APPLY OPENJSON(a.value)
			  WITH (
				SortOrder INT,
				NodeID bigint,
				Weight float
			) AS b;


		update a set a.type = b.object from #t a join [RDF.].Triple b on a.NodeID = b.Subject and b.Predicate = [RDF.].[fnURI2NodeID]('http://www.w3.org/1999/02/22-rdf-syntax-ns#type')

		declare @filters table(type bigint, [count] int, label varchar(255))
		insert into @filters(type, [count])
		select type, count(*) as c from #t group by type
		update a set a.Label = b.pluralLabel from @filters a join [Display.].[SearchEverything.Filters] b on a.type = b._NodeID
		delete from @filters where label is null
		insert into @filters (type, [count], label) select 0, count(*), 'All' from #t		
		
		if isnull(@currentFilterKey, 'All') = 'All'
		BEGIN
			delete from #t where type not in (select _NodeID from [Display.].[SearchEverything.Filters])
			select @Offset = @Offset - 1
		END
		ELSE
		BEGIN
			delete from #t where type not in (select _NodeID from [Display.].[SearchEverything.Filters] where pluralLabel = @currentFilterKey)
		END

		select nodeID, ROW_NUMBER() over (order by sortOrder) SortOrder into #t2 from #t
		update t set t.sortorder = t2.sortorder from #t t join #t2 t2 on t.NodeID = t2.NodeID

		delete from #t where SortOrder < @Offset
		delete from #t where SortOrder > @Offset + @count

		declare @relativeBasePath varchar(100)
		select @relativeBasePath = Value from [Framework.].Parameter where ParameterID = 'relativeBasePath'
		update #t set URL = @relativeBasePath + '/Profile/' + cast (nodeID as varchar(50))

		update a set a.ClassLabel = b.Label from #t a join [Display.].[SearchEverything.Filters] b on a.type = _NodeID

		declare @labelNodeID bigint 
		select @labelNodeID	= [RDF.].[fnURI2NodeID]('http://www.w3.org/2000/01/rdf-schema#label')
		update a set a.Label = n.value from #t a join [RDF.].Triple t on a.NodeID = t.Subject and t.Predicate = @labelNodeID join [RDF.].Node n on t.Object = n.NodeID


		select JSON_QUERY(@json, '$') as SearchQuery, (select * from @filters for json Path) as Filters, (select NodeID, Weight, Label,ClassLabel, URL from #t for JSON Path) as Results for json path, WITHOUT_ARRAY_WRAPPER
END


GO
