SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.Lists].[UpdateLists]
	@UserID  int,
	@Action varchar(15),
	@SessionID  UNIQUEIDENTIFIER,
	@Json nvarchar(max) = null
AS
BEGIN

	SET NOCOUNT ON

	/* Confirm User has access to edit list */
	declare @SessionUserID int
	select @sessionUserID = UserID from [User.Session].Session where LogoutDate is null and sessionID=@sessionID and CreateDate > dateAdd(day, -1, getdate())
	if @userID <> @SessionUserID
	begin
		select -2
		return
	end

	
	declare @size int
	set @size=-1
	declare @SubjectPersonID int
	declare @SubjectNodeID bigint

	declare @j table([key] varchar(max), [value] varchar(max), [type] int)
	insert into @j
	select * from openjson(@json)

	select @SubjectPersonID = [value] from @j where [key] = 'SubjectPersonID'
	select @SubjectNodeID = [value] from @j where [key] = 'SubjectNodeID'
	if @SubjectPersonID is null and @SubjectNodeID is not null
		select @SubjectPersonID = PersonID from [Profile.Cache].Person where NodeID = @SubjectNodeID

	declare @searchXML varchar(max)

	if @action = 'DeleteAll'
	begin
		exec [Profile.Data].[List.AddRemove.Filter] @UserID=@UserID, @Institution=null, @FacultyRank=null, @Remove=1, @Size=@size output
	end
	else if @action = 'DeletePerson' and @SubjectPersonID > 0
	begin
		exec [Profile.Data].[List.AddRemove.Person] @UserID=@UserID, @PersonID=@SubjectPersonID, @Remove=1, @Size=@size output
	end
	else if @action = 'DeleteSearch'
	begin
		set @searchXML = [Display.].[FnConvertSearchJSON2XML](@JSON, 0)
		exec [Profile.Data].[List.AddRemove.Search]	@UserID=@UserID, @SearchXML=@searchXML, @SessionID=@SessionID, @Remove=1, @Size=@size OUTPUT
	end
	else if @action = 'AddPerson' and @SubjectPersonID > 0
	begin
		exec [Profile.Data].[List.AddRemove.Person] @UserID=@UserID, @PersonID=@SubjectPersonID, @Remove=0, @Size=@size output
	end
	else if @action = 'AddSearch'
	begin
		set @searchXML = [Display.].[FnConvertSearchJSON2XML](@JSON, 0)
		exec [Profile.Data].[List.AddRemove.Search]	@UserID=@UserID, @SearchXML=@searchXML, @SessionID=@SessionID, @Remove=0, @Size=@size OUTPUT
	end
	select @size
END


GO
