SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Display.Module].[Coauthor.Connection]
	@Subject bigint,
	@Predicate bigint,
	@tagName varchar(max),
	@object bigint,
	@oValue nvarchar(max),
	@SessionID  UNIQUEIDENTIFIER = NULL,
	@json nvarchar(max) output
AS
BEGIN
	declare @personID int
	declare @relativeBasePath varchar(max), @SubjectPath varchar(max)
	select @relativeBasePath = Value from [Framework.].Parameter where ParameterID = 'relativeBasePath'
	select @personID = PersonID, @SubjectPath = @relativeBasePath + isnull(DefaultApplication, '') + PreferredPath from [Profile.Cache].Person where NodeID = @Subject
	declare @PredicatePath varchar(max)
	select @PredicatePath = isnull((select '/' + AliasType + '/' + AliasID from [RDF.].Alias where NodeID = @Predicate), '/' + cast(@predicate as varchar(50)))


	create table #tmpCoauthors (
		[PersonID2] [int] NOT NULL primary key,
		[w] [float] NULL,
		--[FirstPubDate] [datetime] NULL,
		[LastPubYear] int NULL,
		[n] [int] NULL,
		name varchar(255), 
		DisplayName varchar(255),
		URL varchar(max),
		WhyPath varchar(max))

	insert into #tmpCoauthors (PersonID2, w, LastPubYear, n) select PersonID2, w, YEAR(LastPubDate), n FROM [Profile.Cache].[SNA.Coauthor] where PersonID1 = @personID
	

/*
	declare @tmpTriple as [Display.].[utTriple]
	insert into @tmpTriple(personID) select PersonID2 from #tmpCoauthors

	update t set URL = preferredURL
		from #tmpCoauthors t join [Display.].[fnGetPreferredURLs](@tmpTriple) f 
		on t.personID2 = f.personID
*/
	update t set t.name = isnull(LastName, '') + isnull(', ' + firstname, ''), DisplayName = p.DisplayName, URL=@relativeBasePath + isnull(DefaultApplication, '') + PreferredPath, WhyPath = @SubjectPath + @PredicatePath + PreferredPath from #tmpCoauthors t join [Profile.Cache].Person p on t.PersonID2 = p.PersonID
	select @json = (select Name, DisplayName, URL, w as [Weight], n as [Count], LastPubYear, WhyPath from #tmpCoauthors for json path, ROOT ('module_data'))
END


GO
